<footer class="bg-gray-800 w-full">
  <div class="max-w-4xl mx-auto py-8 space-y-2">
    <nav class="flex justify-between items-center text-gray-400">
      <ul class="flex font-bold space-x-3">
        <li><a href="#" class="hover:text-gray-300 duration-150">About</a></li>
        <li><a href="#" class="hover:text-gray-300 duration-150">Pro</a></li>
        <li><a href="#" class="hover:text-gray-300 duration-150">News</a></li>
        <li><a href="#" class="hover:text-gray-300 duration-150">App</a></li>
        <li>
          <a href="#" class="hover:text-gray-300 duration-150"
            >Year in Review</a
          >
        </li>
        <li><a href="#" class="hover:text-gray-300 duration-150">Gifts</a></li>
        <li><a href="#" class="hover:text-gray-300 duration-150">Help</a></li>
        <li><a href="#" class="hover:text-gray-300 duration-150">Terms</a></li>
        <li><a href="#" class="hover:text-gray-300 duration-150">API</a></li>
        <li>
          <a href="#" class="hover:text-gray-300 duration-150">Contact</a>
        </li>
      </ul>
      <ul class="text-xl space-x-2.5 text-gray-500">
        <a href=""
          ><i
            class="fa-brands hover:text-gray-400 duration-200 transition-transform hover:scale-150 fa-instagram"
          ></i
        ></a>
        <a href=""
          ><i
            class="fa-brands hover:text-gray-400 duration-200 transition-transform hover:scale-150 fa-threads"
          ></i
        ></a>
        <a href=""
          ><i
            class="fa-brands hover:text-gray-400 duration-200 transition-transform hover:scale-150 fa-x-twitter"
          ></i
        ></a>
        <a href=""
          ><i
            class="fa-brands hover:text-gray-400 duration-200 transition-transform hover:scale-150 fa-facebook"
          ></i
        ></a>
        <a href=""
          ><i
            class="fa-brands hover:text-gray-400 duration-200 transition-transform hover:scale-150 fa-tiktok"
          ></i
        ></a>
        <a href=""
          ><i
            class="fa-brands hover:text-gray-400 duration-200 transition-transform hover:scale-150 fa-youtube"
          ></i
        ></a>
      </ul>
    </nav>
    <p class="text-[12px] text-gray-500">
      © Letterboxd Limited. Made by
      <a href="" class="underline hover:text-gray-400">fans</a> in Aotearoa New
      Zealand.
      <a href="" class="underline hover:text-gray-400">Film data</a> from
      <a href="" class="underline hover:text-gray-400">TMDB</a>.
      <a href="" class="underline hover:text-gray-400">Mobile site</a>.
    </p>
  </div>
</footer>
